body{
    background-color:#ebd59b;
}

p{
    text-align: justify;
    margin-left: 20px;
}

nav{
    background-color: rgb(10, 5, 80);
}

h1, h2{
    color: #0a0550;
    font-weight: bold;
}

li.nav-item{
    margin-right: 20px;
}

p.card-text{
    text-align: center;
    font-size: larger;
}

#alap{
    background-color: white;
}

a {
    color:#8b0000;
    text-decoration: none;
}

a:hover{
    color:#8b0000  ;
}
a.active{
    color: yellow  ;
}